//Color vars
$white: #ffffff;
$silver: #c0c0c0;
$darkGrey: #5f4949;
$lightGrey: #e9e1e1;
$grey: rgba(239, 239, 239, 0.3);
$primary: #622c77;

//Border vars
$borderGrey: 1px solid $silver;
$borderPrimary: 1px solid $primary;
