@import "../../assets/scss/main.scss";

.button {
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 5px;
  border: $borderGrey;
  font-size: 20px;
  min-width: 140px;
  letter-spacing: 1px;
  color: $darkGrey;
  &:hover,
  &.active {
    color: $white;
    background-color: $primary;
  }

  &-disabled {
    color: $lightGrey;
    &:hover {
      background-color: $grey;
      color: $lightGrey;
      cursor: default;
    }
  }

  &-sm {
    margin: 0 5px;
    cursor: pointer;
    outline: none;
    border: $borderGrey;
    border-radius: 2px;
    &:hover {
      color: $white;
      background-color: $primary;
      border: $borderPrimary;
    }
  }

  &-save {
    width: 140px;
  }
}
