@import "../../assets/scss/main.scss";

.cart {
  &__wrapper {
    @include flexRowBetween;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__product {
    border: $borderGrey;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 16px 0px $darkGrey;
    width: 46%;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
  }

  &__infoItem {
    margin-left: 10px;
  }

  &__message {
    font-size: 50px;
    margin: 0 auto;
  }
}
