.cart {
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__product {
    border: 1px solid silver;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 16px 0px #b099b1;
    width: 46%;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
  }

  &__infoItem {
    margin-left: 10px;
  }

  &__message {
    font-size: 50px;
    margin: 0 auto;
  }
}
