@import "../../assets/scss/main.scss";

.layout {
  letter-spacing: 1px;
  color: $darkGrey;
  height: 100vh;
  @include flexColumn;
  &_main {
    @include flexColumn;
    flex: 1;
    padding: 0 60px;
    font-size: 18px;
    margin-bottom: 40px;
  }
}
