@import "../../assets/scss/main.scss";

.card {
  border: $borderGrey;
  padding: 20px 0;
  width: 49%;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 5px 16px 0px $darkGrey;

  &__wrapper {
    padding: 10px 20px;
  }

  &__buttons {
    @include flexBetween;
  }

  &__buttonsLeft {
    @include flexBetween;
    width: 45%;
  }
}
