@import "../../assets/scss/main.scss";

.createViewPage {
  @include flexColumn;
  align-items: center;

  &__form {
    @include flexColumn;
    justify-content: space-around;
    height: 275px;
    width: 500px;
  }
}
