@import "../../assets/scss/main.scss";

.mainViewPage {
  &__wrapper {
    @include flexRowBetween;
    align-items: center;
    margin-bottom: 40px;
  }
  &__products {
    @include flexRowBetween;
    flex-wrap: wrap;
  }
  &__buttons {
    @include flexBetween;
    width: 49%;
  }
  input {
    width: 47%;
  }
}
